// @use "../style/partials/variabili";
// @import "variabili";

.footer {
  background-color: $grey;
  height: 110px;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button a {
  text-decoration: none;
  color: $white;
  padding: 15px;
  border: 2px solid $primary-blu;
}

.button {
  transition: all 0.3s;

  &:hover {
    scale: 1.2;
    transform: rotate(-5deg);
  }
}

.followText {
  font-weight: bold;
  color: $primary-blu;
  font-size: 21px;
}

.follow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  list-style: none;

  & img:hover {
    scale: 1.1;
  }
}
