@use "../partials/mixin" as *;

.main {
  background-color: $primary-blu;
}

span {
  padding: 0px 10px;
}

.subMain {
  height: 455px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.bk {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.listaSubMain {
  list-style: none;
  color: $white;

  & li {
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 100;
    color: $middle-grey;
    cursor: pointer;

    &:hover {
      color: $light-grey;
    }
  }
}

.columnLeft {
  display: flex;
  gap: 72px;
}

.columnRight img {
  position: absolute;
  top: -63px;
  right: 273px;
  z-index: -1;
}
