.main {
  background-color: #0282f9;
}

span {
  padding: 0px 10px;
}

.textContent {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.listaBlu {
  padding: 40px 0px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

  & li {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 55px;
    cursor: pointer;
  }
}

.icon {
  width: 40px;
}

.subMain {
  height: 455px;
  overflow: hidden;
  display: flex;
  position: relative;
}

.bk {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.listaSubMain {
  list-style: none;
  color: #fff;

  & li {
    padding: 5px 0px;
    font-size: 15px;
    font-weight: 100;
    color: #9b9999;
    cursor: pointer;
  }
}

.columnLeft {
  display: flex;
  gap: 72px;
}

.columnRight img {
  position: absolute;
  top: -63px;
  right: 273px;
}

// @include respond(phone) {
//   font-size: 50%;
// }
