.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}

.logo img {
  width: 80px;
}

.menu {
  line-height: 110px;
}

.menu ul {
  display: flex;

  & li {
    list-style: none;
    padding: 0px 10px;
    cursor: pointer;

    &:hover {
      box-shadow: inset 0em -0.3em #0282f9;
      color: #0282f9;
    }
  }
}
