@import "partials/variabili";
@import "partials/mixin";
@import "partials/reset";
@import "partials/typography";
@import "layout/AppFooter";
@import "layout/AppUpMain";
@import "layout/AppMain";
@import "layout/AppHeader";
@import "layout/AppSubHeader";

.mainContainer {
  width: 1444px;
  max-width: 100%;
  margin: 0 auto;

  @include respond(tabLand) {
    width: 846px;
  }

  @include respond(phone) {
    width: 448px;
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
