@import "partials/reset";
@import "partials/typography";
@import "layout/AppFooter";
@import "layout/AppMain";
@import "layout/AppHeader";
@import "layout/AppSubHeader";
@import "partials/mixin";
@import "partials/variabili";

.mainContainer {
  width: 1444px;
  max-width: 100%;
  margin: 0 auto;
}
